*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.home{
    display: flex;
    justify-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
    background-image: url(/public/homepage2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.homeBox{
    display: flex;
    flex-direction: column;
    height: 60%;
    border: 1px solid burlywood;
    border-radius: 20px;
    background-color: blanchedalmond;
    box-shadow: 10px 10px 78px -20px rgba(128,61,77,1);
    opacity: 90% ;
    padding: 5%;
    gap: 25%;
}
.homeBox h4{
    text-align: center;
    color: rgb(186, 14, 14);
}
.homeButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

